.btn-podeeduca{
    background-color: rgba(255, 255, 255, 0.7);
    color: #333!important;
    border-radius: 10px;
    transition: 1s;
}
.btn-podeeduca:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: #333!important;
    transition: 1s;
}
.btn-podeeduca:active{
    background-color: rgba(255, 255, 255, 0.9);
    color: #333!important;
    border-radius: 50px;
    transition: 1s;
}
.fundo-transparente{
    background: transparent;
    background-color: transparent;
}

.dashboard{
    font-family: 'Montserrat', sans-serif;
    margin: 0 !important;
    padding-bottom: 74px;
}

.card{
    width: 20%;
}

.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

h1{
    font-size: 45px;
}

.bloqueado img{
    filter: grayscale(1);
}

.text-white,
.white{
    color: white;
}
.text-black{
    color: #000;
}
.navbar-center-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
}
.navbar-gradient{
    background-color: #f16227;
    border-bottom: 1px #eeeeee solid;
}
.dashboard{
    padding-top: 30px;
}

/* Tela de PC */
@media (min-width:768px) {

}

/* Tela de Mobile */
@media (max-width:767px) {
.navbar-gradient{
    background-color: transparent;
    border-bottom: 1px transparent solid;
}
.dashboard{
    padding-top: 0px;
}
.navbar-right {
    border-bottom: 1px #eeeeee solid;
    box-shadow: none;
}
#navbar {
    background-color: #f16227!important;
}
#navbar p,
#navbar i{
    color: #fff;
}
}

.perfil{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.perfil img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.perfil div{
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    width: 100%;
}

.margin{
    margin: 5px 0 !important;
}

.margin-dt{
    margin-bottom: -20px;
}

.bg-inicio{
    background: #f16227;
}

.separacao-ou{
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    z-index: 0!important;
    height: 40px!important;
    width: 100%!important;
    color: #fff!important;
    font-weight: 700!important;
    background-color: #fff!important;
    border:none!important;
    box-shadow: none!important;
    text-align: left!important;
    border-radius:0px!important;
    border-bottom: rgba(255, 255, 255, 0.5) 2px solid!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow,
.select2-container--default .select2-selection--multiple .select2-selection__arrow  {
    height: 45px!important;
}
.select2-dropdown {
    background-color: #fff!important;
    border: 0.5px solid #ccc!important;
    box-shadow: none!important;
    transition: 0s;
}
.select2-selection__rendered {
    padding-top: 10px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #333;
    background-color: rgba(0,0,0,0.1);
    transition: 0s;
}
.form-control{
    background-color: transparent!important;
    border: none!important;
    border-radius: 0px!important;
    border-bottom: rgba(255, 255, 255, 0.5) 2px solid!important;
    color: #fff!important;
    padding-top: 25px!important;
    transition: 1s;
}
.form-control:active,
.form-control:focus{
    border-bottom: rgba(255, 255, 255, 1) 2px solid!important;
    padding-top: 15px!important;
    transition: 1s;
}
  
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder { 
    color: #fff!important;
}

.form-control::placeholder { 
    color: #fff!important;
    opacity: 1!important;
}

.form-black .form-control:-ms-input-placeholder,
.form-black .form-control::-ms-input-placeholder { 
    color: #444!important;
}

.form-black .form-control::placeholder { 
    color: #444!important;
    opacity: 1!important;
}

.form-black .form-control{
    border-bottom: rgba(000, 000, 000, 0.5) 2px solid!important;
    color: #000!important;
}
.form-black .form-control:active,
.form-black .form-control:focus{
    border-bottom: rgba(000, 000, 000, 1) 2px solid!important;
}
.form-black .select2-search__field:-ms-input-placeholder,
.form-black .select2-search__field::-ms-input-placeholder {
    color: #444!important;
}
.form-black .select2-search__field::placeholder{
    color: #444!important;
    opacity: 1!important;
}
.form-black .select2-container--default .select2-selection--single,
.form-black .select2-container--default .select2-selection--multiple {
    border-bottom: rgba(000, 000, 000, 0.5) 2px solid!important;
    color: #000!important;
}
.form-black .select2-dropdown {
    background-color: #fff!important;
    border: 0.5px solid #3855ac!important;
    box-shadow: none!important;
    transition: 0.5s;
}
.form-black .select2-selection__rendered {
    padding-top: 10px;
}
.form-black .select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #fff;
    background-color: rgba(0,0,0,0.1);
    transition: 0.5s;
}

.nav-bottom{
    border-top: 1px solid #eb8deb !important;
    background-color: rgb(255, 255, 255) !important;
}

.splash{
    align-items: center;
    background-color: #f16227;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.splash img{
    margin: 5px 0;
}

@media (max-width: 768px){
    .dashboard{
        padding-bottom: 74px;
    }

    .perfil{
        flex-direction: column;
        justify-content: center;
    }

    .perfil div{
        align-items: center !important;
    }

    .card{
        width: 100%;
    }
}

::-moz-selection {
    color: #fff;
    background: #f16227;
}
::selection {
    color: #fff;
    background: #f16227; 
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #f16227;
}
::-webkit-scrollbar-track {
    background: #ccc;
}