.btn-podeeduca{
    background-color: rgba(255, 255, 255, 0.7);
    color: #333!important;
    border-radius: 10px;
    transition: 1s;
}
.btn-podeeduca:hover{
    background-color: rgba(255, 255, 255, 0.9);
    color: #333!important;
    transition: 1s;
}
.btn-podeeduca:active{
    background-color: rgba(255, 255, 255, 0.9);
    color: #333!important;
    border-radius: 50px;
    transition: 1s;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0 !important;
}

.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

h1{
    font-size: 45px;
}

.white{
    color: white;
}


.margin{
    margin: 5px 0 !important;
}

.bg-inicio{
    background: #eb8deb;
}

.separacao-ou{
    margin: 15px;
}

.form.form-login{
    align-items: center;
    background-color: #eb8deb!important;
    bottom: "-1000px";
    display: flex;
    flex-direction: column;
    height: 0;
    justify-content: center;
    transition: 0.2s;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.form-login .sair{
    color: black;
    font-size: 50px;
    font-weight: bolder;
    text-decoration: none;
}